@charset "UTF-8";

* {
	padding: 0;
	margin: 0;
	font-family: Arial, sans-serif;
}

body {
	width: 1000px;
	margin-left: auto;
    margin-right: auto;
	border: 1px solid black
}

.header {
	float: right;
}

#header {
	background: #448aff;
	height: 100px;
	width: 100%;
	float: left;
	position: absolut;
}

#header-name {
	padding: 5px; 
	font-size : 30px;
	font-weight: bold;
	font-style: italic;
	color: white;
	float: left;
	height: 100px;
}

#header-name:first-letter {
	font-size: 90px;
	font-weight: bold;
	font-style: italic;
}

.header-button {
	background-color: #448aff;
	border: 1px solid blue;
	color: white;
 	height: 50px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	cursor: pointer;
	width: 170px;
	display: block;
}

.header-button:hover {
  background-color: #3669F0;
}

.header-link {
	margin-top: 20px;
	padding: 20px;
	font-size: 20px;
}

#footer {
	background: white;
	height: 100px;
	width: 990px;
	float: left;
	font-size: 50px;
	text-align: center;
	line-height:100px;
	border: 5px solid purple;
	color: purple;
}

rick:custom-stamp {
	font-size: 50px;
}

a {
	color: dark gray;
	font-size: 1em;
	font-weight: bold;
}

h1, h2 {
    padding: 10px;
}

.form {
	width: 300px;
	margin: 10px;
	padding: 10px;
}

.form-title {
	font-size: 24px;
	text-align: center;
}

.infofield {
	margin-top: 10px;
	font-weight: bold;
}

.form input, .form textarea {
	width: 100%;
	margin: 5px 0;
	padding: 5px 15px;
}

.form select {
	width: 50%;
	margin: 5px 0;
	padding: 5px 15px;
	height: 24px;
}

.form input[type="radio"] {
width: 5%;

}

.error-message {
	color: red;
}

.message {
	color: gray;
}

.profile-button-group {
	background: #83b9ff;
	height: 50px; 
	width : 100%;
	display: inline-block;
	width: 100%;
}

.profile-button input {
	background-color: #83b9ff;
	border: 1px solid blue;
	color: white;
	height: 50px;
	width: 250px;
	float: left;
	padding: 5px;
	text-align: center;
	text-decoration: none;
	font-size: 20px;
	cursor: pointer;
}

.profile-button-group input:hover {
  background-color: #7598F0;
}

table {
	border-collapse: collapse;
	width: 100%;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:hover {
	background-color: #ddd;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
